/* 
Ajustes generales 
*/

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    box-sizing: border-box;
}
    
b, strong {
    font-weight: 700;
}

main {
    width: 100%;
    transition: width 1s ease;
}

a {
    color: white;
    text-decoration: none;
}

aside {
    box-sizing: border-box;
    background: #ED364F;
    -webkit-box-shadow: -10px 0px 20px -10px rgba(0,0,0,0.5);
    -moz-box-shadow: -10px 0px 20px -10px rgba(0,0,0,0.5);
    box-shadow: -10px 0px 20px -10px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    padding: 1rem;
    transition: all 1s ease;
    user-select: none;
}
    
aside li {
    padding: 0.5rem;
    color: white;
    cursor: pointer;
    text-align: center;
    font-size: 1.2rem;
}

aside li.active {
    color: black;
    font-weight: 700;
}

aside .menu-title {
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
    text-align: right;
    width: 100%;
}

aside .menu-title b {
    display: none;
}

aside .menu-title i {
    cursor: pointer;
}

aside .menu-title i.fa-bars {
    display: none;
}

aside .menu-title i.fa-times {
    display: inline-block;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
    color: #ED364F;
    text-align: center;
    padding: 5rem 0 1rem 0;
}

h3{
    font-size: 1.5rem;
    color: #ED364F;
    text-align: center;
}

video {
    margin: 2rem auto 0;
    max-width: 100%;
    display: block;
}

header .main-title {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1rem;
    z-index: 2;
    color: white;
}

.content, .datos-personales.content {
    padding: 5% 15%;
}

address {
    word-break: break-all;
}

footer {
    padding: 5rem;
    color: white;
    background: #ED364F;
}


/* 
Estilos concretos 
*/


/* Portada */

.portada{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 10vh;
}

.portada:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(237, 54, 79, 0.1);;
}

@keyframes titulo {
    0% {transform: scaleY(0); opacity: 0;}
    50% {transform: scaleY(0.3); opacity: 1;}
    100% {transform: scaleY(1);}
}

.portada h1 {
    color: white;
    text-align: center;
    animation-name: titulo;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

.portada p{
    color: white;
    position: relative;
    z-index: 0;
}

/* Quien soy */

figure{
    width: 100%;
    margin-bottom: 10vh;
}

figcaption {
    padding: 1rem;
    text-align: center;
}

img {
    width: 100%;
}

.quien-soy.content{
    display: flex;
    flex-direction: column;
}

.quien-soy p {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: justify;
}

dl.datos-personales.content {
    display: flex;
    flex-wrap: wrap;
}

dl.datos-personales.content dt, dl.datos-personales.content dd {
    width: 50%;
    padding: 0.5rem 0
}

/* Listas */

.estudios li, .experiencia li, .sobre-mi li {
    padding: 1rem;
    position: relative;
}

.estudios li:before, .experiencia li:before, .sobre-mi li:before {
    content: "";
    position: absolute;
    left: -1rem;
    width: 10px;
    height: 10px;
    background: #ED364F;
    border-radius: 10px;
}

.sobre-mi ul{
    margin-top: 5vh;
}


/* Contacto */

.contacto form {
    max-width: 500px;
    margin: auto;
}

.contacto li {
    padding: 1rem;
}

.contacto li.form-group {
    display: flex;
    flex-direction: column;
}

select {
    max-width: 100%;
}

select option {
    font-size: 1rem;
    word-break: break-all;
}

input, select, textarea, button {
    font-size: 1.5rem;
    margin-top: 15px;
}

[name="selection-message"] {display: none;}

.visible {display: inline-block}

button {
    padding: 1rem 2rem;
    display: block;
    margin: auto;
    background: #ED364F;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 2rem;
    transition: opacity 0.5s ease;
}

button:hover{
    opacity: 0.7;
}

.error-message {
    text-align: center;
    margin: 0 1rem 3rem 1rem;
    color: #ED364F;
}

/*
Media Queries 
*/

@media screen and (min-width: 1000px){
    header .main-title {
        font-size: 2rem;
    }
    
    h2{
        padding: 1rem 0;
    }

    .content {
        padding: 5% 20%;
    }

    .datos-personales.content {
        padding: 1rem 30% 5%;
    }

    aside {
        right: -15%;
        width: 15%;
        height: 100vh;
        padding: 3rem 1rem;
    }

    aside li {
        text-align: left;
    }

    aside .menu-title {
        text-align: center;
    }

    aside .menu-title b {
        display: inline-block;
    }

    aside .menu-title i.fa-times, aside .menu-title i.fa-bars {
        display: none;
    }

    main.scrolled {
        width: 85%;
    }
    
    aside.scrolled {
        right: 0;
    }

    .portada h1 {
        font-size: 4rem;
    }

    .quien-soy figure{
        width: 50%;
        margin-bottom: 0;
    }    

    .quien-soy.content{
        flex-direction: row;
    }

    .quien-soy p {
        width: 50%;
        padding: 1rem 3rem;
    }
}

@media screen and (max-width: 999px) {
    aside.closed {
        height: 50px;
    }
    
    aside.closed i.fa-bars{
        display: inline-block;
    }

    aside.closed i.fa-times{
        display: none;
    }
    
    aside.closed ul{
        display: none;
    }
}